<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <h1>Naslov iz layout pogleda</h1>
        <hr />
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <p>Header sekcija nije implementirana!</p>
        }

        <hr />
        <nav>
            <a href="/Home/Index">Početna</a> |
            <a href="/LayoutPogledi/PogledSaLayoutom">Pogled sa Layoutom</a> |
            <a href="/LayoutPogledi/PogledSaSekcijama">Pogled sa Sekcijama</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <hr />
    @RenderSection("Footer", false)
    <hr />
    <p>Footer iz layout pogleda</p>
</body>
</html>