@model IEnumerable<PetHotel.Models.Pet>

@{
    ViewData["Title"] = "Popis ljubimaca";
}

<h1 class="my-4">Popis ljubimaca</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj novog ljubimca</a>
</p>

<table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
        <tr>
            <th>Ime</th>
            <th>Pasmina</th>
            <th>Veličina</th>
            <th>Godina</th>
            <th>Mikročip</th>
            <th>Socijaliziran</th>
            <th>Aktivan</th>
            <th>Vlasnik</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><strong>@item.Name</strong></td>
                <td>@item.Breed</td>
                <td>@item.Size</td>
                <td>@item.BirthYear</td>
                <td>@item.MicrochipNumber</td>
                <td>@(item.IsSocialized ? "Da" : "Ne")</td>
                <td>@(item.IsActive ? "Da" : "Ne")</td>
                <td>
                    @item.User?.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>