@model AutoServis.Models.Vehicle

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje</h1>

<h3>Jeste li sigurni da želite nastaviti s brisanjem?</h3>
<div>
    <h4>Vozilo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Make)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Make)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Model)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Model)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Year)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Year)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LicensePlate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LicensePlate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Vin)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Vin)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.User)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.User.Id)</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Obriši</button>
        <a asp-action="Index" class="btn btn-secondary">Natrag na popis</a>
    </form>
</div>