@model IEnumerable<AutoServis.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Vozila</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Make)</th>
            <th>@Html.DisplayNameFor(model => model.First().Model)</th>
            <th>@Html.DisplayNameFor(model => model.First().Year)</th>
            <th>@Html.DisplayNameFor(model => model.First().LicensePlate)</th>
            <th>@Html.DisplayNameFor(model => model.First().Vin)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Make)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.LicensePlate)</td>
                <td>@Html.DisplayFor(modelItem => item.Vin)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>