@model IEnumerable<PetHotel.Models.Booking>

@{
    ViewData["Title"] = "Popis rezervacija";
}

<h1 class="my-4">Popis rezervacija</h1>

<p>
    <a asp-action="Create" class="btn btn-primary shadow-sm">Nova rezervacija</a>
</p>

<table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>Ljubimac</th>
            <th>Usluga</th>
            <th>Vlasnik (Email)</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Pet.Name)</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType.Name)
                </td>
                <td class="text-primary">
                    @item.User?.Email
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Uredi</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalji</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Obriši</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>